@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
    color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


@layer components {
    .glass {
        background-color: rgba(255, 255, 255, 0.285);
        backdrop-filter: blur(10px);
        --webkit-backdrop-filter: blur(10px);
        width: 60vw;
        height: 70vh;
        min-width: 385px;
    }

    .glass-dark {
        background-color: rgba(39, 37, 37, 0.291);
        backdrop-filter: blur(10px);
        --webkit-backdrop-filter: blur(10px);
        width: 60vw;
        height: 70vh;
        min-width: 385px;
    }
    .imgp {
        width: max-content;
        height: max-content;
        padding: 1.4em;
        border: none;
    }

    .shadow ~ .atropos-shadow {
        background: #7858fa24;
        padding: 2em;
        border-radius: 3em;
    }

    .input {
        color: black;
        width: 60vw;
        height: 2.8em;
        /* outline: none; */
        border-radius: 20px;
        padding-left: 2.7em;
        max-width: 21rem;
    }
    .dialog {
        animation: close 0.75s ease-in-out;
    }

    .dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.867);
        backdrop-filter: blur(10px);
        animation: open 0.75s ease-in-out;

    }
    .dialog[open] {
        animation: open 0.75s ease-in-out;
    }


    /** Mostrar el bloque de error en los logins*/
    .slide-top {
        animation: open 1.3s ease-in-out both;
    }


    @keyframes open {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes close {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
